@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* MOBILE */

*{
   box-sizing: border-box; 
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    /* font-size: calc(16px + 0.390625vw); */
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #117651;
    z-index: 0;
    width: 100vw;

}

.admin{
    background-color: #02150e;
    color: white;
}

.admin .small-header{
    background: none;
}

header{
    /* the bg image is temporary, I will make a better scalable version so that it looks better aligned */
    background: url(../images/grid.svg) fixed center center;
    height: 100vh;
    padding: 1em;

}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: auto;
    height: 15vh;
}

.logo{
    text-transform: uppercase;
    /* animation: logoAnim 3s forwards infinite; */
    position: relative;
    font-size: 1.5em;
    color:#117651;
}

@keyframes logoAnim{
    0%{top:5px;}
    50%{top:-5px;}
    100%{top:5px;}
}

#open {
	font-size:1em;
	cursor:pointer;
	position:fixed;
	top:20px;
	right:20px;
	z-index: 9;
	color:#117651;
	font-weight:bold;
	/* mix-blend-mode: multiply; */
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5s;
}

#open:visited{
    color:#117651;
}
#open:hover {
	color: #21c186;
}

.overlay {
    /* height: 100vh;
    width: 0; */
	height: 100%;
    width: 0vw;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    background-color: rgba(256,256,256, 0.95);
    overflow: hidden;
    transition:all 0.5s;
}

.overlay-content{

    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.closebtn {
    position: absolute;
	z-index: 99;
    top: 30px;
    right: 10px;
    font-size: 1em;
	line-height:0px;
	cursor: pointer;
	padding: 8px;
    text-decoration: none;
    color: #117651;
    transition: all 0.3s;
	text-transform:uppercase;
	font-weight:bold;

    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
}

.closebtn:hover {
	color: #21c186;
}

.darkmode{
    color:#117651;
    mix-blend-mode: normal;
    transition: all 0.5s;
}

span.darkmode:hover{
    color:#21c186;
}

.overlay.darkmode{
    background-color: #02150e;
}

.a-okay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;

}

.a-okay div{
    text-align: center;
}

h1{
    font-size: 4em;
    margin: 0;
    padding-bottom: .1em;
    line-height: .8em;
    
}

h2{
    font-size: calc(76px + 0.390625vw);
    line-height: .9em;
    text-align: left;
    padding: 1rem;
    text-transform: none;
    margin:0;
}

h3, h4{
    margin: 0;
    font-weight: 400;
    letter-spacing: .6em;
}

.down-arrow::after{
    content:"↓";
}

h3{
    /* letter-spacing: .8em; */
    font-size:1em;
}

h4{
    font-size: .9em;
}

header h4{
    animation: idle-h4 10s forwards infinite;
    position: relative;
}

@keyframes idle-h4{
    0%{bottom: 0px;}
    10%{bottom: -30px;}
    20%{bottom: 0px;}
    100%{bottom: 0px;}
}

.small-header{
    background: url(../images/grid.svg) fixed center center;
    display: flex;
    justify-content: start;
    height: auto;
    align-items: start;
}

.small-header h2{
    padding: 0;
    padding-bottom: 0.5em;
}

img{
    max-width: 80vw;
}

a:link{
    text-decoration: none;
    color:#02150e;
    transition: all .2s;
}

a:visited{
    color:#02150e;
}

a:hover{
    color: #02150e;
}



a:active{
    color:#21c186;
}

a.darkmode:hover{
    color:#21c186;
}

.overlay-content a:hover{
    color:#21c186;
}


#logout{
    cursor: pointer;
}

.myBox{
    background-color: #02150e;
    color:#f2f2f2;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 0;
    overflow: hidden;
    transition:all 0.8s;
    z-index: 12;
}

.mybox-content{
    padding: 2em;
    text-align: center;
    
}

.mybox-content h2{
    text-align: center;
}

.mybox-content span{
    /* margin: 1em 1em; */
    padding: 0 2em;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #02150e;
    transition: all 0.5s;
}

.mybox-content span:hover{
    background-color: #117651;
}



#closebox{
    cursor: pointer;
    z-index: 99;
}

#goback{
    cursor: pointer;
    z-index: 99;
}


.funfact{
    
    background-color: #117651;
    display:flex;
    align-items: center;
    overflow: hidden;
    height: 1.5em;
    font-size: .8em;
    padding: 1em;
    

    }

.scroll{
    white-space: nowrap;
    margin: 0 1em;

}

.scroll div{
    display: flex;
}

.scroll p{
    color: #f2f2f2;
    width: auto;
    letter-spacing: .2rem;
    margin: 1rem;
}

.left-to-right{
    animation: funfacts 10s infinite linear;
}

@keyframes funfacts{
    from{transform: translateX(0%);}
    to{transform: translateX(-50%);}
}

.right-to-left{
    animation: funfacts2 10s infinite linear;
}

@keyframes funfacts2{
    from{transform: translateX(-50%);}
    to{transform: translateX(0%);}
}


.title-sect{
    margin: 3em 0;
}

.title-sect h2{
    padding: 1rem;
    padding-left: 2rem;
}

.title-sect h3{
    padding-left: 2rem;
    letter-spacing: normal;
}

.ten-years-article{
    text-align: center;
    padding: 1em;
    margin-top: 4em;
}

.fade-in{
    opacity: 0;
    position: relative;
    bottom: -100px;
    transition: all .3s;
}

.fade-in.is-visible{
    opacity:1;
    bottom: 0px;
}

.fade-in2{
    opacity: 0;
    transition: all 2s;
}

.fade-in2.is-visible{
    opacity: 1;
}

.ambassadors{
    text-align: center;
    padding: 2em;
}

.ambassadors h3{
    font-weight: bold;
}

.right-col article{
    margin-bottom: 4em;
}

.right-col img{
    max-width: 100%;
}

a:link{
    transition: all 1s;
}
a.img-link:link{
    filter:saturate(50%);
    transition: all .5s;
}

a.img-link:visited{
    filter:none;
    transition: all .5s;
}

a.img-link:hover{filter:saturate(200%);}

a.img-link:active{
    filter:saturate(200%);
}

.arrow::after{
    content:"→"
}

.ambassadors-sect{
    text-align: center;
    padding: 0;
    font-size: .8em;
    padding-top: 2em;
}


.ambassadors-sect article{
    padding: 2em;
}

.ambassadors-sect h3{
    font-weight: bold;
}

.reverse{
    background-color: #ececec;
}

.fun-article{
    padding: 2em;
}

.fun-article h3{
    font-weight: bold;
    text-align: center;
}



.trivia{
    display: block;
    background-color: #117651;
    color:#f2f2f2;
    padding: 1rem;

}

.trivia ul{
    text-align: left;
    font-weight: bold;
}

.trivia li{
    list-style-type: "✧ ";
    font-weight: normal;
}



footer{
    background-color: #117651;
    color:white;
    padding: 1em;
    margin-top: 2rem;
    font-size: .8em;
}

.foot-lists ul{
    list-style: none;
    /* padding: 0; */
}

.foot-lists{
    display: flex;
    justify-content: start;


}

.foot-lists a:link{
    color: #fafafa;
}

.foot-lists a:visited{
    color: #fafafa;
}

.foot-lists a:hover{
    color:#21c186;
}

.foot-lists a:active{
    color:#02150e;
}

.statera{
    font-weight: bold;
    animation: idle 2s forwards infinite;
    position: relative;
    text-align: center;
    /* transition: all cubic-bezier(.21,.23,.41,1.06); */
}

@keyframes idle{
    0%{top:0px;}
    50%{top: 10px;}
    100%{top: 0px;}
}

/* === DESKTOP LAYOUT INHERITS FROM TABLET AND MOBILE 980px */

@media screen and (min-width:980px){

    .overlay-content{
        align-items: start;
        margin-left: 1em;
    }

    .overlay-content a:link{
        font-size: 2em;
        padding: 1rem;
        font-weight: bold;
    }

    header h1{
        font-size: 10em;
    }

    h2{
        font-size: 5em;
    }

    .small-header h1{
        /* position:static; */
        display: block;
        opacity: 1;
        font-size: 2em;
        padding: 1rem;
    }

    a:link{
        text-decoration: none;
        color:#117651;
        transition: all .2s;
    }
    
    a:visited{
        color:#117651;
    }
    
    a:hover{
        color: #02150e;
    }

    a.darkmode:hover{
        color:#21c186;
    }
    
    a:active{
        color:#21c186;
    }

    .ambassadors{
        display: flex;
        margin-top: 2em;
    }

    .title-sect{
        margin-left: 1.8em;
        margin-right: 1.8em;
    }

    .left-col{
        width: 65vw;
        padding: 2em;
        text-align: right;
        height:500px;
        
    
        position: sticky;
        top: 60px;
        animation: softIdle 2s forwards infinite;        
    }
    
    @keyframes softIdle{
        0%{top:60px;}
        50%{top: 80px;}
        100%{top:60px;}
    }

    .right-col{
        width: 35vw;
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .right-col img{
        /* width: 320px;
        height: 320px; */
        max-width: 100%;
    }

    .right-col article{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .right-col p{
        text-align: left;
    }


    .img-link:link{
        filter: grayscale(40%);
        transition: filter 1s;
    }
        
    .img-link:visited{
        filter: grayscale(40%);
        transition: filter 1s;
     }
        
    .img-link:hover{filter:saturate(200%);}

    .ambassadors-sect{
        display: flex;
        padding: 2em;
    }

    .reverse{
        flex-direction: row-reverse;
    }

    .ambassadors-sect div{
        width: 30vw;
    }
    
    .ambassadors-sect img{
        max-width:30vw;
        /* max-height: 100%; */
        padding: 1em;
    }


    .ambassadors-sect article{
        width: 70vw;
        text-align: left;
    }

    .ambassadors-sect.reverse article{
        text-align: right;
    }

    .trivia-parent{
        height: auto;
        display: flex;
        align-items: end;
        justify-content: center;


    }
    
    .trivia{
        background-color: #117651;
        display: flex;
        justify-content: center;
        /* align-items: end; */
    }

    .mybox-content span{
        margin: 1em;
    }

   




}





