@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}

body{
    margin: 0;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fafafa;
    color: #117651;
    z-index: 0;
    width: 100vw;
}

header{
    height: 100vh;
    width: 100vw;
    background: url(../images/gridPattern.png) no-repeat fixed center center;
    padding-top: 2em;

}

header h3{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.5em;
    padding: 0;
    margin: 1rem 0 0 0;
    /* position: relative;
    top: -20px; */
}

header h1{
    text-align: center;
    font-size: 15em;
    font-weight: 600;
    margin: 0;
    position: relative;
    /* top: -120px; */
    left: -30px;
    font-style: italic;
    line-height: 0.8em;
    /* letter-spacing: 2; */
}

.o::after{
    content: "O";
    display:inline-block;
}

header h1:hover .o::after{
    animation: a-okay 2s forward infinite;
    content: "&";

}

@keyframes a-okay{
    /* 0%{content:"?";}
    10%{content:"0";}
    20%{content:"&";}
    30%{content:"7";}
    40%{content:"D";}
    50%{content:"<";}
    60%{content:"/";}
    70%{content:"3";}
    80%{content:"!";}
    90%{content:"8";}
    100%{content:"*";} */

    /* you can't animate the content property i am devastated that would have been so cool :( */
}

header h4{
    margin: 2rem 0 0 0;
    text-align: center;
    /* position: relative;
    top: -170px; */
    letter-spacing: .3em;
    font-weight: 400;
}

.logo{
    animation: logoAnim 3s forwards infinite;
    position: relative;

}

@keyframes logoAnim{
    0%{top:0;}
    50%{top:-20px;}
    100%{top:0px;}
}


.hoverzone{
    padding:0;
    margin:0;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoverzone h2{
    padding: 0 2rem 0 2rem;
    text-transform: uppercase;
}

.hoverzone li{
    /* float: left; */
    width: 10em;
    text-align: center;


}

.hoverzone li h2{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    position: relative;
    /* margin-bottom: 0; */
}

.hoverzone li:hover h2{
    /* color:black; */
    animation: menu-anim 1s forwards 1;
    
}

@keyframes menu-anim{
    0%{transform: scaleX(1);}
    50%{transform: scaleX(-1);}
    100%{transform: scaleX(1);}
}

.hoverzone li ul{
    /* position: fixed; */
    position: absolute;
    width: 10em;
    right: 0px;
    opacity: 0;
    transition: all .5s;
    /* background-color: red; */

}

.hoverzone li ul li{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: .5rem;
    text-align: left;
}

.hoverzone li:hover ul{
    opacity: 1;

}


.menu{
    background-color: #f2f2f2;
    padding: 1em 0;
    height: auto;
    opacity: 0.9;
    z-index: 10;
}

.menu li{
    list-style: none;
    font-size: 1em;
}

.funfact{
    /* text-align: center; */
    
    background-color: #117651;
    display:flex;
    align-items: center;
    overflow: hidden;

    }

.scroll{
    white-space: nowrap;
    margin: 0 1em;

}

.scroll div{
    display: flex;
    gap: 2rem;
}

.scroll p{
    color: #f2f2f2;
    width: 100vw;
    letter-spacing: .2rem;
}

.left-to-right{
    animation: funfacts 15s infinite linear;
}

@keyframes funfacts{
    from{transform: translateX(0%);}
    to{transform: translateX(-50%);}
}



.title-sect{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 5em;
    padding: 1rem;
    line-height: 5.5rem; 

}

.ten-years-article {
    text-align: center;
    height: 130vh;
}

.ten-years-article h1{
    font-size: 6em;
    position: relative;
    bottom: -500px;
    transition: bottom cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.ten-years-article:hover h1{
    bottom: 0;
}

.ten-years-article p{
    font-size: 1.5rem;
    padding: 0 6em;
    opacity: 0;
    transition: opacity 1.5s;
}

.ten-years-article:hover p{
    opacity:1;

}

.ambassadors{
    display: flex;
    margin-top: 2em;
}



.left-col{
    width: 65vw;
    padding: 2em;
    text-align: right;
    height:500px;
    

    position: sticky;
    top: 60px;

}

.left-col h1{
    font-size: 5em;
    line-height: .7em;
}



.right-col{
    width: 35vw;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-col article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-col img{
    width: 350px;
    height: 350px;
    /* object-fit: contain; */
    filter: grayscale(100%);
    
}




footer{
    color:#fafafa;
    background-color: #117651;
    margin:0;
    text-align: center;
    padding: 2em;
}