@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-size: calc(20px+0.390625vw);
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #117651;
    z-index: 0;
    width: 100vw;
}



header{
    height: 100vh;
    width: 100vw;
    /* background: url(../images/gridPattern.png) repeat-x fixed center center; */
    padding-top: 2em;

}

.top-bar{
    height: 10vh;
}

header div{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
header h3{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.2em;
    padding: 0;
    margin: 1rem 0 0 0;

}

header h1{
    text-align: center;
    font-size: 15em;
    font-weight: 600;
    margin: 0;
    position: relative;
    left: -30px;
    font-style: italic;
    line-height: 0.8em;

}

/* .o::after{
    content: "O";
    display:inline-block;
} */

/* header h1:hover .o::after{
     animation: a-okay 2s forward infinite; 
    content: "?";

} */

header h4{
    margin: 2rem 0 0 0;
    text-align: center;
    letter-spacing: .3em;
    font-weight: 400;
    animation: idle-h4 10s forwards infinite;
    position: relative;
}



@keyframes idle-h4{
    0%{bottom: 0px;}
    10%{bottom: -30px;}
    20%{bottom: 0px;}
    100%{bottom: 0px;}
}

.logo{
    padding: 0 2rem;
    text-transform: uppercase;
    animation: logoAnim 3s forwards infinite;
    position: relative;

}

.small-header{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.small-header h1{
    font-size: 3em;
    left: 0px;
}

@keyframes logoAnim{
    0%{top:0;}
    50%{top:-20px;}
    100%{top:0px;}
}


.hoverzone{
    padding:0;
    margin:0;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoverzone h2{
    /* padding: 0 2rem 0 2rem; */
    text-transform: uppercase;
}

.hoverzone li{
    width: 10em;
    text-align: center;


}

.hoverzone li h2{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    position: relative;
    /* margin-bottom: 0; */
}

.hoverzone li:hover h2{
    animation: menu-anim 1s forwards 1;
    
}

@keyframes menu-anim{
    0%{transform: scaleX(1);}
    50%{transform: scaleX(-1);}
    100%{transform: scaleX(1);}
}

.hoverzone li ul{
    /* position: fixed; */
    position: absolute;
    width: 12em;
    right: 0px;
    opacity: 0;
    transition: all .5s;
    /* background-color: red; */

}

.hoverzone li ul li{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: .5rem;
    text-align: left;
}

.hoverzone li:hover ul{
    opacity: 1;

}


.menu{
    background-color: white;
    padding: 1em;
    margin:0;
    height: auto;
    opacity: 0.9;
    z-index: 10;
    border: red solid 3px;
}

.menu li{
    list-style: none;
    font-size: 1em;
}

a:link{
    text-decoration: none;
    color:#117651;
    transition: all .2s;
}

a:visited{
    color:#117651;
}

a:hover{
    color: #02150e;
}

a:active{
    color:#21c186;
}



.funfact{
    
    background-color: #117651;
    display:flex;
    align-items: center;
    overflow: hidden;

    }

.scroll{
    white-space: nowrap;
    margin: 0 1em;

}

.scroll div{
    display: flex;
    /* gap: 2rem; */
}

.scroll p{
    color: #f2f2f2;
    width: 100vw;
    letter-spacing: .2rem;
}

.left-to-right{
    animation: funfacts 10s infinite linear;
}

@keyframes funfacts{
    from{transform: translateX(0%);}
    to{transform: translateX(-50%);}
}

.right-to-left{
    animation: funfacts2 10s infinite linear;
}

@keyframes funfacts2{
    from{transform: translateX(-50%);}
    to{transform: translateX(0%);}
}



.title-sect{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 5em;
    padding: 1rem;
    line-height: 5.5rem; 

}

.ten-years-article {
    text-align: center;
    height: auto;
}

.ten-years-article h1{
    font-size: 6em;
    position: relative;
    bottom: -700px;
    transition: bottom cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.ten-years-article:hover h1{
    bottom: 0px;
}

.ten-years-article p{
    font-size: 1.5rem;
    padding: 0 6em;
    opacity: 0;
    transition: opacity 1.5s;
}

.ten-years-article:hover p{
    opacity:1;

}

.photo-gallery{
    display: flex;
    /* max-width: 100vw; */
    justify-content: space-evenly;
}

.photo-gallery img{
    max-width: 500px;
    margin: 2em;
    object-fit: fit;
}

.ambassadors{
    display: flex;
    margin-top: 2em;
}



.left-col{
    width: 65vw;
    padding: 2em;
    text-align: right;
    height:500px;
    

    position: sticky;
    top: 60px;
    animation: softIdle 2s forwards infinite;


}

@keyframes softIdle{
    0%{top:60px;}
    50%{top: 80px;}
    100%{top:60px;}
}

.left-col h1{
    font-size: 5em;
    line-height: .7em;
}



.right-col{
    width: 35vw;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-col article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.right-col img{
    width: 320px;
    height: 320px;
    /* object-fit: contain; */
    /* filter: grayscale(30%) contrast(30%); */
    
}

.img-link:link{
    filter: grayscale(40%);
    transition: all 1s;
}

.img-link:visited{
    filter: grayscale(40%);
    transition: all 1s;
}

.img-link:hover{filter:saturate(200%);}

.arrow::after{
    content:"→"
}




footer{
    color:#fafafa;
    background-color: #117651;
    margin:0;
    text-align: center;
    padding: 2em;
    font-size: 16px;
}

.foot-lists{
    display: flex;
}

.foot-lists ul{
    list-style: none;
    text-align: left;
    margin: 1em;
}

.foot-lists a:link{
    color: #fafafa;
}

.foot-lists a:visited{
    color: #fafafa;
}

.foot-lists a:hover{
    color:#21c186;
}

.foot-lists a:active{
    color:#02150e;
}

.statera{
    font-weight: bold;
    animation: idle 2s forwards infinite;
    position: relative;
    /* transition: all cubic-bezier(.21,.23,.41,1.06); */
}

@keyframes idle{
    0%{top:0px;}
    50%{top: 10px;}
    100%{top: 0px;}
}