@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    /* box-sizing: border-box; */
}

body{
    margin: 0;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f2f2f2;
    color: #117651;
    z-index: 0;
    width: 100vw;
}

header{
    height: 100vh;
    width: 100vw;
    background: url(../images/gridPattern.png) no-repeat fixed center center;

}

header h3{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.5em;
    padding: 0;
    margin: 1rem 0 0 0;
    /* position: relative;
    top: -20px; */
}

header h1{
    text-align: center;
    font-size: 15em;
    font-weight: 500;
    margin: 0;
    position: relative;
    /* top: -120px; */
    left: -30px;
    font-style: italic;
    line-height: 0.8em;
    /* letter-spacing: 2; */
}

header h4{
    margin: 2rem 0 0 0;
    text-align: center;
    /* position: relative;
    top: -170px; */
    letter-spacing: .3em;
    font-weight: 400;
}


.hoverzone{
    padding:0;
    margin:0;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoverzone h2{
    padding: 0 2rem 0 2rem;
    text-transform: uppercase;
}

.hoverzone li{
    /* float: left; */
    width: 10em;
    text-align: center;


}

.hoverzone li h2{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    /* margin-bottom: 0; */
}

.hoverzone li ul{
    position: absolute;
    width: 15em;
    /* left: auto; */
    right: 0px;
    opacity: 0;
    transition: all .5s;
    /* background-color: red; */

}

.hoverzone li ul li{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1.5em 0;
}


/* .hoverzone li:hover{
    right: 0px;
} */

.hoverzone li:hover ul{
    /* left: 50em;*/
    /* right: 0px; */
    opacity: 0.8;

}


.menu{
    background-color: #f2f2f2;
    padding: 1em 0;
    height: auto;
    opacity: 0.8;
    z-index: 10;
}

.menu li{
    list-style: none;
    font-size: 1em;
}

.funfact{
    /* text-align: center; */
    color: #f2f2f2;
    background-color: #117651;
    padding: .3em 0;
    opacity: 0.8;

    animation-name: funfacts;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes funfacts{
    0%{position: relative;
    left: -10em;}
    100%{left: 10em;}
}



.title-sect{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 5em;
    padding: 1rem;
    line-height: 5.5rem; 

}